<div class="modal fade" id="notification-<%= notification.id %>" tabindex="-1" aria-labelledby="notification-<%= notification.id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notification-<%= notification.id %>">Site URL</h5>
        <p><%= notification.site.url %></p>
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="notification-<%= notification.id %>">Accessed at</h5>
        <p><%= notification.accessed_at.strftime("%F %H:%M") %></p>
      </div>
      <div class="modal-body">
        <p>Which action would you like to take on this site?</p>
      </div>
      <div class="modal-footer">
        <%= simple_form_for(notification.site, remote: true) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'blocked'} %>
          <%= f.submit 'BLOCK', class: 'btn btn-danger' %>
        <% end %>
        <%= simple_form_for(notification.site, remote: true) do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'trusted'} %>
          <%= f.submit 'TRUST', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
