<div class="cards">
  <% @notifications.each do |notification| %>
  <div type="button" data-bs-toggle="modal" data-bs-target="#notification-<%= notification.id %>">
      <div class="card-notification">
        <div class="card-notification-infos">
          <h2>Notification</h2>
          <p><%= notification.description %></p>
          <h2 class="card-notification-infos-status">
              <% if notification.read == "read" %>
                <strong> <p style="color:gray">  Read </p> </strong>
              <% else %>
                <strong> <p style="color:red">  Unread </p> </strong>
              <% end %>
          </h2>
        </div>
        <div class="card-notification-site">
          <div>
            <h2>Site</h2>
            <p><%= notification.site.url  %></p>
          </div>
          <h2 class="card-otification-site-accessdate">accessed at <%= notification.accessed_at.strftime("%F %H:%M")  %>
          </h2>
        </div>
      </div>
    <!-- Modal -->
      <div class="modal fade" id="notification-<%= notification.id %>" tabindex="-1" aria-labelledby="notification-<%= notification.id %>Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="notification-<%= notification.id %>">Site URL</h5>
              <p><%= notification.site.url %></p>
            </div>
            <div class="modal-header">
              <h5 class="modal-title" id="notification-<%= notification.id %>">Accessed at</h5>
              <p><%= notification.accessed_at.strftime("%F %H:%M") %></p>
            </div>
            <div class="modal-body">
              <p>Which action would you like to take on this site?</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-danger" data-bs-dismiss="modal">BLOCK</a>
              <a class="btn btn-success">TRUST</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
