<div class="sites-container px-4">
  <h1>Sites</h1>
      <div class="row gx-5">
        <div class="col-6">
          <div class="analytics-card">
            <div class="analytics-card-space">
              <h2> Domain name </h2>
                <!-- domain pie chart -->
                <%#= tld = site.url.match(\.[^.]{2,3}(?:\.[^.]{2,3})?$) %>
                  <%= pie_chart Site.group(:url).count %>
                  <%#= pie_chart Site.group(tld).count %>
                <!-- domain recent bar chart -->
            </div>
            <div class="analytics-card-space">
              <h2>Domain recency</h2>
                <%=  pie_chart Site.group(:is_domain_recent).count %>
                <%#= bar_chart Shirt.group(:size).sum(:price) %>
            </div>
            <div class="analytics-card-space">
              <!-- webpage title Keyword -->
              <h2> Keyword - Risk Score relation </h2>
                <%= bar_chart Site.group(:webpage_title).sum(:risk_score), xtitle: "Risk score", ytitle: "Keyword" %>
                <%#= column_chart Site.group_by_year(:created_at, format: "%a").count %>
            </div>
          </div>
        </div>

    <div class="col-6">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-block-tab" data-bs-toggle="tab" data-bs-target="#nav-block" type="button" role="tab" aria-controls="nav-block" aria-selected="true">Block</button>
            <button class="nav-link" id="nav-trust-tab" data-bs-toggle="tab" data-bs-target="#nav-trust" type="button" role="tab" aria-controls="nav-trust" aria-selected="false">Trust</button>
        </div>
      </nav>
    <!-- Blocked sites -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-block" role="tabpanel" aria-labelledby="nav-block-tab">
        <table class="table table-success table-striped">
          <% if @blocked_sites.empty? %>
            <p class="nothing-to-display">No blocked sites yet.</p>
          <% else %>
            <%= render 'table_header' %>
          <% end %>
          <tbody>
            <% @blocked_sites.each_with_index do |site, index| %>
              <tr>
                <% if site.risk_score <= 25 %>
                  <td> <strong> <p style="color:#f4db0a"> 1 </p> </strong></td>
                <% elsif site.risk_score <= 50 %>
                  <td> <strong> <p style="color:#f4af0a">  2 </p> </strong></td>
                <% elsif site.risk_score <= 75 %>
                  <td> <strong> <p style="color:#e74404">  3 </p> </strong></td>
                <% else %>
                  <td> <strong> <p style="color:#b20811">  4 </p> </strong></td>
                <% end %>
                <td><%= site.referral_site %></td>
                <td><%= site.reason %></td>
                <td>
                  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#site-<%= site.id %>">
                    <i class="fas fa-edit"></i>
                  </button>
                  <%= render 'modal', site: site %>
                </td>
                <td><%= render "change_status", site: site, caption: "Unblock", status: :trusted %>
                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <!-- Trusted sites -->
      <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-trust" role="tabpanel" aria-labelledby="nav-trust-tab">
        <table class="table table-success table-striped">
            <% if @trusted_sites.empty? %>
              <p class="nothing-to-display">No trusted sites yet.</p>
            <% else %>
              <%= render 'table_header' %>
            <% end %>
            <tbody>
              <% @trusted_sites.each_with_index do |site, index| %>
                <tr>
                  <td><%= site.risk_score %> </td>
                  <td><%= site.referral_site %></td>
                  <td><%= site.reason %></td>
                  <td>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#site-<%= site.id %>">
                      <i class="fas fa-edit"></i>
                    </button>
                    <%= render 'modal', site: site %>
                  </td>
                  <td><%= render "change_status", site: site, caption: "Block", status: :blocked %>
                  </td>
                </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
