<div class="sites-container">
<h1>Sites Overview</h1>
    <div class='my-legend'>
      <div class='legend-title'>Risk Score Level</div>
      <div class='legend-scale'>
        <ul class='legend-labels'>
          <li><span style='background:#fff10a;'></span>0-25</li>
          <li><span style='background:#fec208;'></span>25-50</li>
          <li><span style='background:#ff2d08;'></span>50-75</li>
          <li><span style='background:#cf240a;'></span>75-100</li>
        </ul>
      </div>
      <div class='legend-source'><a href="#link to source"></a></div>
      </div>
      <div class="row">
        <div class="col">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-block-tab" data-bs-toggle="tab" data-bs-target="#nav-block" type="button" role="tab" aria-controls="nav-block" aria-selected="true">Block</button>
                <button class="nav-link" id="nav-trust-tab" data-bs-toggle="tab" data-bs-target="#nav-trust" type="button" role="tab" aria-controls="nav-trust" aria-selected="false">Trust</button>
            </div>
          </nav>
          <!-- Blocked sites -->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-block" role="tabpanel" aria-labelledby="nav-block-tab">
              <table class="table table-striped">
                <% if @blocked_sites.empty? %>
                  <p class="nothing-to-display">No blocked sites yet.</p>
                <% else %>
                  <%= render 'table_header' %>
                <% end %>
                <tbody>
                  <% @blocked_sites.each_with_index do |site, index| %>
                    <tr>
                      <% if site.risk_score <= 25 %>
                        <td> <strong> <p style="color:#fff10a"><i class="fas fa-exclamation-triangle icon-shadow"></i> </p> </strong></td>
                      <% elsif site.risk_score <= 50 %>
                        <td> <strong> <p style="color:#fec208"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                      <% elsif site.risk_score <= 75 %>
                        <td> <strong> <p style="color:#ff2d08"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                      <% else %>
                        <td> <strong> <p style="color:#cf240a"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                      <% end %>
                      <td><%= URI.parse(site.url).host %></td>
                      <td><%= site.reason %></td>
                      <td>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#site-<%= site.id %>">
                          <i class="fas fa-edit"></i>
                        </button>
                        <%= render 'modal', site: site %>
                      </td>
                      <td><%= render "change_status", site: site, caption: "Unblock", status: :trusted %>
                      </td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
              </div>
            <!-- Trusted sites -->
            <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-trust" role="tabpanel" aria-labelledby="nav-trust-tab">
              <table class="table table-striped">
                  <% if @trusted_sites.empty? %>
                    <p class="nothing-to-display">No trusted sites yet.</p>
                  <% else %>
                    <%= render 'table_header' %>
                  <% end %>
                  <tbody>
                    <% @trusted_sites.each_with_index do |site, index| %>
                      <tr>
                        <% if site.risk_score <= 25 %>
                          <td> <strong> <p style="color:#fff10a"> <i class="fas fa-exclamation-triangle icon-shadow"></i> </p> </strong></td>
                        <% elsif site.risk_score <= 50 %>
                          <td> <strong> <p style="color:#fec208"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                        <% elsif site.risk_score <= 75 %>
                          <td> <strong> <p style="color:#ff2d08"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                        <% else %>
                          <td> <strong> <p style="color:#cf240a"><i class="fas fa-exclamation-triangle icon-shadow"></i></p> </strong></td>
                        <% end %>
                        <td><%= URI.parse(site.url).host %></td>
                        <td><%= site.reason %></td>
                        <td>
                          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#site-<%= site.id %>">
                            <i class="fas fa-edit"></i>
                          </button>
                          <%= render 'modal', site: site %>
                        </td>
                        <td><%= render "change_status", site: site, caption: "Block", status: :blocked %>
                        </td>
                      </tr>
                  </tbody>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1>Analytics</h1>
      <div class="analytics-card-sites">
        <div class="row">
          <div class="col">
            <div class="analytics-card-space">
              <h2> Domain TLD </h2>
                  <%= column_chart @tlds, width: "300px", height: "300px" %>
            </div>
          </div>
          <div class="col">
            <div class="analytics-card-space">
              <h2> Keywords </h2>
              <%= column_chart @keywords, width: "300px", height: "300px" %>
              <button type="button" class="btn btn-secondary", width="20px" >Add to Blacklist</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="analytics-card-space">
              <h2> Site visited</h2>
                <%= line_chart @sites_visited, width: "300px", height: "300px", xtitle: "Time", ytitle: "Visits" %>
            </div>
          </div>
          <div class="col">
            <div class="analytics-card-space">
              <h2> Last Visited Site Top5 </h2>
              <div class="top-5"><i class="fas fa-crown"></i> 1 2 3 4 5</div>
                <%= column_chart @referral_site, width: "300px", height: "300px" %>
            </div>
            </div>
          </div>
        </div>
      </div>
